.categories p {
    font-size: 32px;
    
    font-family: Dm Sans, sans-serif;
}
.category-list .cat-one p{
    font-size: 20px;
    font-family: Dm Sans, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.category-list .cat-one p:hover{
    font-size: 20px;
    font-family: Dm Sans, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.category-list {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}