.categories p {
    font-size: 32px;
    
    font-family: Dm Sans, sans-serif;
}
.category-list .cat-one p{
    font-size: 20px;
    font-family: Dm Sans, sans-serif;
    text-decoration: none;
    list-style-type: none;
}
.category-list .cat-one p:hover{
    font-size: 20px;
    font-family: Dm Sans, sans-serif;
    text-decoration: none;
    list-style-type: none;
    color: black;
}
.category-list {
    display: flex;
    gap: 2rem;
    margin-top: 2rem;
}
.category-list .cat-one img {
  width: 120px;   /* control the size */
  height: 120px;  /* keep it square */
  object-fit: contain; /* make sure images scale nicely */
  border-radius: 4px;  /* optional: rounded corners */
  background: #ECFDF5; /* optional: give images a clean background */
  padding: 10px;       /* optional: spacing around the image */
  box-shadow: 0 2px 6px rgba(0,0,0,0.1); /* optional: subtle shadow */
}
