/* main.css or App.css */
@import url('https://fonts.googleapis.com/css2?family=Comforter&family=Comic+Relief:wght@400;700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&family=Special+Gothic+Expanded+One&display=swap');


.right {
  display: flex;
  gap: 1.5rem;
  align-items: center;
}
ul {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  margin: 0;
  padding: 0;
}
.cart {
  display: flex;
  gap: 0.3rem;
}
sup {
  color: #F97316;
  font-size: 0.7rem;
  font-weight: 600;
  
}
.login-button {
  padding: 8px 24px;
  background-color: #F97316;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: 500;
  text-decoration: none;
  list-style-type: none;

}
.login-button:hover {
  background-color: #FB923C;
}
.text {
  color: white;
  list-style-type: none;
  text-decoration: none;
}